http://bunker-yug.ru/customer.php?type=reporttable
body * {
    max-width:1400px
}

.top_bar > div > div > div {
   display:none
}
body > div:nth-child(2) {
    margin:auto;
}
#search {
    left: 1150px !important;
}
tr > td:nth-child(12), tr > td:nth-child(15),tr > td:nth-child(16),tr > td:nth-child(10),tr > td:nth-child(9) {
    display: none;
    width: 0px;
}
body {overflow-x: auto;}


var navi = $('.page_navi');
$(".main > form > table").before(navi);


http://bunker-yug.ru/customer.php?p=edit&id=948
body * {
    max-width:1400px
	}
#seopanel {
  width:1080px
}
.seos {
  width: inherit;
}
.showCopy {
 /* position: absolute;*/
  left: 700px;
}
#CopyDiv table > tbody > tr > td:nth-child(2),#CopyDiv table > tbody > tr > td:nth-child(3),#CopyDiv table > tbody > tr > td:nth-child(4),#CopyDiv table > tbody > tr > td:nth-child(9){
    display:none
}
body > div:nth-child(2) {
    margin:auto;
}
#search {
    left: 1150px !important;
}
.tit_st.catPP {
    width:initial !important;
}
body {overflow-x: auto;}

iframe = $('#seoWind').find("iframe");
var iframeDoc = iframe[0].contentWindow.document;
table = iframeDoc.getElementsByTagName('table')[0];
table.style.width = 'inherit';
tds = table.getElementsByTagName('td');
tds[1].style.display = 'none';
tds[2].style.display = 'none';


http://bunker-yug.ru/customer.php?type=plan
body * {
    max-width:1400px
}

.top_bar > div > div > a:nth-child(19), .top_bar > div > div > a:nth-child(20), .top_bar > div > div > a:nth-child(21) {
   display:none
}
body > div:nth-child(2) {
    margin:auto;
}
#search {
    left: 1150px !important;
}
.tit_st.catWork {
    width:initial !important;
}
body {overflow-x: auto;}