thead >tr {
	 display:none;
}
tr.counters-table__body-row {
	display:inline-block;
	 float:left;
	 width:900px;
	 border-right:1px solid black;
	 padding:0 5px;
}

/*Убираем всем td падинг и центруем*/
td.counters-table__body-cell {
	padding:0;
	vertical-align:middle;
	padding:0 5px 0 5px;
	text-align:right;
}

/*Метки*/
.counter-label-list {
    display:none;
}

/*Под названием счетчика инфа*/
.counters-table__info {
	 display:none;
}

/*Кнопки отписаться и доступы*/
td.counters-table__cell-grants{
      width: 190px;
}
td.counters-table__cell-grants.counters-table__body-cell > div {
	display: inline-block;
}
/*Кнопка Отписатся*/
.counter-grant-unsubscribe {
    margin-bottom:0;
}

/*Проценты изменения*/
span.counter-activity__changes {
    display:none !important;
}

/*Двигаем название счетчика вправо*/
td.counters-table__cell-title {
	text-align:left;
	padding:0 0px 0 30px;
}

/*Ширина визитам, хостам, посетителям*/
td.counters-table__cell-visits, td.counters-table__cell-hits, td.counters-table__cell-users {
	width:35px
}

/*Ширина первой td*/
td.counters-table__cell-first {
	width:50px;
}

/*Ширина ячейки с заголовком*/
td.counters-table__cell-title{
	 width:205px;
}

/*
table.counters-table.counters-table_type_all.counters__table.i-bem.counters-table_js_inited {
	 display:block;
	  width:100%;
}
table.counters-table.counters-table_type_all.counters__table.i-bem.counters-table_js_inited >tbody {
	 width:100%;
}


td.counters-table__cell-controls.counters-table__body-cell {
	 width:30px;
}


td.counters-table__cell-status.counters-table__body-cell {
	padding:0 3px;
	vertical-align:middle;
}
td.counters-table__cell-chosen.counters-table__body-cell {
	 padding:0px 3px 0;
	 vertical-align:middle;
}
td.counters-table__cell-counter-type.counters-table__body-cell {
	padding:0;
	display:none;
}










td.counters-table__cell-webcounter.counters-table__body-cell {
	padding:0;
	display:none;
}

th.counters-table__head-cell.counters-table__head-cell_type_webcounter {
	padding:0;
	display:none;
}

td.counters-table__cell-grants.counters-table__body-cell {
	padding:0;
}

td.counters-table__cell-grants.counters-table__body-cell div.counter-grant-unsubscribe {
	 display:none;
}

th.counters-table__head-cell.counters-table__head-cell_type_controls {
	padding:0;
}

td.counters-table__cell-controls.counters-table__body-cell {
	padding:0;
}

td.counters-table__cell-removes.counters-table__body-cell {
	padding:0;
}










td.counters-table__cell-chart.counters-table__body-cell {
	 text-align:right;
	 width:200px;
}

.counters-table__chart-wrap {
	 float:right;
}

.counter-visits {
	 float:right;
}



td.counters-table__cell-grants.counters-table__body-cell {
	 vertical-align:middle;
}

*/




